@{
    ViewBag.Title = "الرئيسية";
}

@*<h2 style="padding:0px;margin:0px;text-align:center">@ViewBag.Title.</h2>*@
<h4 style="margin-top:17%;color:#6d6d6d">اضغط على <i class="fa fa-indent" style="color:#282828"></i><sub> اعلى اليسار</sub><br><br> للتصفح داخل النظام</h4>


